In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("customer.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        50 non-null     int64
 1   review     50 non-null     object
 2   education  50 non-null     object
 3   purchased  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [3]:
x = data.iloc[:,1:3]
y = data.iloc[:,-1]
y

0      No
1      No
2      No
3      No
4      No
5     Yes
6      No
7     Yes
8      No
9     Yes
10    Yes
11    Yes
12     No
13     No
14    Yes
15     No
16    Yes
17    Yes
18     No
19    Yes
20    Yes
21     No
22    Yes
23     No
24    Yes
25     No
26     No
27     No
28     No
29    Yes
30     No
31    Yes
32    Yes
33    Yes
34     No
35    Yes
36    Yes
37    Yes
38     No
39     No
40     No
41    Yes
42    Yes
43     No
44     No
45    Yes
46     No
47    Yes
48    Yes
49     No
Name: purchased, dtype: object

In [4]:
from sklearn.model_selection import train_test_split

In [5]:
x_train,x_test, y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)
x_train.head()

     review education
12     Poor    School
4   Average        UG
37  Average        PG
8   Average        UG
3      Good        PG

In [6]:
# Ordinal Encoder
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder(categories = [["Poor","Average","Good"],["School","PG","UG"]])
oo = oe.fit_transform(x_train,x_test)

In [7]:
# Label Encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
ll = le.fit_transform(y)

In [8]:
# One Hot Encoding
import pandas as pd
data = pd.DataFrame({
    "gender" : ["male","female","female","male"]*10
})
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder()
oo = ohe.fit_transform(data).toarray()
oo

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])