In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("placement.csv")
data.head()

   cgpa  package
0  6.89     3.26
1  5.12     1.98
2  7.82     3.25
3  7.42     3.67
4  6.94     3.57

In [6]:
x = data.iloc[:,0].values
y = data.iloc[:, -1].values

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 42)

In [17]:
class lr():
    def __init__(self):
        self.m = None
        self.b = None

    def our_fit(self,x_train, y_train):
        num = 0
        dem = 0
        for i in range(x_train.shape[0]):
            num = num + ((y_train[i] - y_train.mean()) * (x_train[i] - x_train.mean()))
            dem = dem + ((x_train[i] - x_train.mean())*(x_train[i] - x_train.mean()))
        self.m = num/dem
        self.b = y_train.mean() - (self.m * x_train.mean())
        print(self.m)
        print(self.b)

      
    def our_predict(self, x_test):
        prediction = self.m * x_test + self.b
        print(prediction)

In [18]:
lrslr = lr()

In [19]:
lrslr.our_fit(x_train, y_train)

0.5742564727019197
-1.0270069374542108

In [20]:
data.head(2)

   cgpa  package
0  6.89     3.26
1  5.12     1.98

In [21]:
lrslr.our_predict(6.89)

2.929620159462016